*.swp
*.swo
*.bak
*.tmp
*.log
*.session
*.cache
*.undo
*.backup

.gsd-keyboard.settings-ported
alacritty /
blender/
Mechvibes/
discord /
dconf/
discoverrc
dolphinrc
i3status/
networkmanager-dmenu/
mpv/
Code - OSS/
copyq/
BraveSoftware/
obsidian/
Cursor/
okular[*]
fish/
ghostty/
gtk-3.0
git-4.0
jgmenu/
kactivitymanagerdrc
kalarmrc
kconf_updaterc
KDE/
kde.org/
kdeconnect/
Kitware/
libaccounts-glib/
pulse/
QtProject.conf
ranger/
session/
Thunar/
user-dirs.dirs
user.dirs.loacale
xfce4/
xsettingsd/
yay/
zathura/
zellij/
zi/
zsh/
user-dirs.locale
okularpartrc
okularrc
