# ----------------------------------------------------------------
*.swp
*.swo
*.bak
*.tmp
*.log
*.session
*.cache
*.undo
*.backup
__pycache__/

*

# Essential root files
!/.gitignore
!/README.md
!/starship.toml
!/systemmonitorrc
!/README.org

!/atuin/
!/atuin/**

!/doom/
!/doom/**

!/i3/
!/i3/**

!/kitty/
!/kitty/**

!/lazygit/
!/lazygit/**

!/nvim/
!/nvim/**

!/picom/
!/picom/**

!/rofi/
!/rofi/**

!/tmux/
!/tmux/**


# Fish Shell config
!/fish/
!/fish/conf.d/
!/fish/conf.d/autopair.fish
!/fish/conf.d/omf.fish
!/fish/config.fish
!/fish/fish_plugins
!/fish/fish_variables
!/fish/functions/
!/fish/functions/_autopair_backspace.fish
!/fish/functions/_autopair_insert_left.fish
!/fish/functions/_autopair_insert_right.fish
!/fish/functions/_autopair_insert_same.fish
!/fish/functions/_autopair_tab.fish
!/fish/functions/bass.fish
!/fish/functions/__bass.py
!/fish/functions/fish_prompt.fish

!/thefuck/
!/thefuck/settings.py
